.navlink {
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  flex: 0;
}
.navlink span {
  font-size: 16px;
  font-weight: 500;
}

.navlink :global(.mantine-NavLink-body) {
  flex: 0 auto;
}

@media (max-width: 768px) {
  .navlink {
    justify-content: center;
  }
}

.profilepic {
  border: 1px solid var(--app-shell-border-color);
}
