/* src/app/globals.css */
:root {
  --font-primary: 'Inter', sans-serif;
}

body {
  background: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-9));
}

.featuredGrid {
  padding-right: var(--mantine-spacing-lg);
  padding-left: var(--mantine-spacing-lg);
}

@media (max-width: 768px) {
  .featuredGrid {
    padding-right: 0;
    padding-left: 0;
  }
}
